.formatButton {
  grid-area: formatButton;
  height: 20px;
}

.mainArea {
  grid-area: mainArea;
}

.sourceText {
  width: 100%;
  height: calc(100vh - 55px);
  resize: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'formatButton'
    'mainArea';
  grid-gap: 5px;
  padding: 5px;
}

.mdcode {
  cursor:pointer;
  color: white;
  background-color: black;
}

.mdcode-clicked {
  background-color: darkgreen;
}
